<!DOCTYPE html>
<html lang="en">
	<head>

		<!--SEO Metatags-->
		<title>ShoppingList is a tool to help busy people keep track and share their lists</title>
		<meta charset="UTF-8" name="description" content="Get those lists out of your head. Use this easy tool for logging items you need to buy.">
		<meta property=”og:title” content=”Simple List Logger”/>
		<!--Bootstrap Responsive design meta tag-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Twitter metatag-->
		<meta name=”twitter:card” content=”summary”>
		<meta name=”twitter:url” content=”heroku url here”>
		<meta name=”twitter:description” content=”ShoppingList is a tool to help busy people keep track and share their lists.  Save your brain for things you love.  Use this tool to log items you dont want to forget.”>
		<meta name=”twitter:image” content=”https://openclipart.org/download/60139/cart.svg”>
		
		<!--Animate CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
	
		<!--Google fonts-->
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Barrio|Open+Sans|Ubuntu" rel="stylesheet">

		<!-- Bootstrap Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		
		<!--Responsive Design style sheet-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-responsive.css"/>

		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>

		<link rel="stylesheet" href="/assets/images/shopping.jpg" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>
